.container-fluid {
		
	text-align: center;
	margin-top: 100px;
	width: 1000px;
}

.input-group {
		
	margin: 20px 20px 0;
		
}


.alert {
	font-weight: bold;
}

.btn {
	margin-top: 20px;
}


.output {

	margin-top: 30px;
	text-align: center;
}

